
<section id="footer">
  <div class="container ">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="https://www.github.com/dav4thevid" target = "_blank">
          <div class="flex icon" id="icon-2">
            <i class="fa fa-github fa-lg pt-3 footer-icon"></i>
          </div>
        </a>
        <a href="https://www.facebook.com/davoucii" target="_blank">
          <div class="flex icon" id="icon-3">
            <i class="fa fa-facebook-f fa-lg pt-3 footer-icon"></i>
          </div>
        </a>
        <a href="https://twitter.com/dav4thevid" target = "_blank">
          <div class="flex icon" id="icon-4">
            <i class="fa fa-twitter fa-lg pt-3 footer-icon"></i>
          </div>
        </a>
        <a href="https://www.linkedin.com/in/fabusuyidavid" target = "_blank">
          <div class="flex icon" id="icon-5">
            <i class="fa fa-linkedin fa-lg pt-3 footer-icon"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 d-flex justify-content-center">
        <p class="footnote">Dave Davoucii <span id="highlight">© 2020</span></p>
      </div>
    </div>
  </div>
</section>

