<section id="blogs " class = "blog mt-5 mb-5 " >

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center p-3">
        <h1 class="headers mb-5 animate__animated" animateOnScroll animationName="animate__bounceIn" >
           BLOGS
        </h1>
      </div>
    </div>

    <div class="container ">
      <div class="row">
        <div class="col-sm-6 col-md-3 animate__animated" animateOnScroll animationName="animate__fadeInTopLeft">
          <a class = "a-blog" href = "https://dev.to/dav4thevid/set-by-set-guild-on-how-authenticate-your-flutter-app-with-firebase-auth-3lb4" target = "_blank">
            <img

              class="img-fluid "
              src="../../assets/flutter firebase.jpg"
              alt="Card image cap"
            />
            <p class="font-weight-bold mt-4">
              <!-- How to Effectively Learn As a Developer -->
              Step By Step Guide On How to Authenticate your Flutter App with FireBase Auth
            </p>
            <small class="mt-2"> December 18th 2020</small>
            <p class="mt-2">
              In this post, I will be walking you through how to authenticate your flutter...
              <!-- How many of you have learned a programming language, mastered it... -->
            </p>
          </a>
          </div>

        <div class="col-sm-6 col-md-3 animate__animated" animateOnScroll animationName="animate__fadeInBottomLeft">
          <a class = "a-blog" href = "https://dev.to/dav4thevid/how-to-implement-forgot-password-password-reset-into-your-flutter-apps-with-firebase-auth-3jjd" target = "_blank">
          <img
            class="img-fluid"
            src="../../assets/blog2.PNG"
            alt="Card image cap"
          />
          <p class="font-weight-bold mt-4">
            How to implement Forgot Password/Password Reset in your Flutter Apps with Firebase Auth
          </p>
          <small class="mt-2">March 29th, 2020</small>
          <p class="mt-2">
            Let’s start by creating our Forgot Password Screen, open Screens...
          </p>
        </a>
        </div>

        <div class="col-sm-6 col-md-3 animate__animated" animateOnScroll animationName="animate__fadeInTopRight">
          <a class = "a-blog" href = "https://medium.com/better-programming/how-to-learn-a-programming-language-fast-f338ba46c504" target = "_blank">
            <img
              class="img-fluid"
              src="../../assets/blog3.PNG"
              alt="Card image cap"
            />
            <p class="font-weight-bold mt-4">
              The Best Advice I’ve Ever Received on How to Learn...
              </p>
            <small class="mt-2"> March 10th, 2020</small>
            <p class="mt-2">
              “How do you learn?” asked a curious and older gentleman. Behind the question,...
            </p>
          </a>
        </div>

        <div class="col-sm-6 col-md-3 animate__animated" animateOnScroll animationName="animate__fadeInBottomRight">
          <a class = "a-blog" href = "https://www.eyecuelab.com/breaking-your-coders-block/" target = "_blank">
            <img
              class="img-fluid"
              src="../../assets/Capture.PNG"
              alt="Card image cap"
            />
            <p class="font-weight-bold mt-4">
              Breaking All Your Coder's Block and be a productive Developer
            </p>
            <small class="mt-2">April 29, 2015</small>
            <p class="mt-2">
              At one time or another, as a developer, we’ve all found ourselves...
            </p>

          </a>
        </div>
      </div>
    </div>
  </div>
</section>

