@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,900&display=swap');


@font-face {
  font-family: GorditaBold;
  src: url(/assets/scss/custom/fonts/GorditaBold.otf) format('opentype');
}

@font-face {
  font-family: GorditaLight;
  src: url('/assets/scss/custom/fonts/GorditaLight.otf') format('otf');
}

@font-face {
  font-family: GorditaMedium;
  src: url('/assets/scss/custom/fonts/GorditaMedium.otf') format('otf');
}

@font-face {
  font-family: GorditaRegular;
  src: url('/assets/scss/custom/fonts/GorditaRegular.otf') format('otf');
}

@font-face {
  font-family: GorditaRegular;
  src: url(/assets/scss/custom/fonts/GorditaRegular.otf) format('opentype');
}
