
  <div class = "modal-header">
    <h3>Title</h3>
    <button type="button" class="close" aria-label="Close" (click)="dismissPopUp()">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class = "modal-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae omnis earum deleniti porro cumque? Quas magnam eaque reiciendis dolorum cum laboriosam, nostrum reprehenderit ullam cumque possimus ipsam quo inventore debitis?</p>
  </div>

<div>
  ndsouboubreouberoaubreo
</div>
