<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>

<div class = "container-fluid">
  <div class = "row">
    <div class = "col text-header d-flex justify-content-center p-5">
      <h3 class = "">About Me</h3>
    </div>
  </div>
  <div class = "container">
    <div class = "row text-center ">
      <div class = "col-sm-6 col-md-3">
        <h4 class= "text-header">Fast</h4>
        <p class = "text-content">Fast load times and lag free interaction, my highest priority.</p>
      </div>
      <div class = "col-sm-6 col-md-3">
        <h4 class= "text-header">Responsive</h4>
        <p class = "text-content">My layout will work on any device, big or small</p>
      </div>
      <div class = "col-sm-6 col-md-3">
        <h4 class= "text-header">Intuitive</h4>
        <p class = "text-content">Strong preference for easy to use, intuitive UI/UX</p>
      </div>
      <div class = "col-sm-6 col-md-3">
        <h4 class= "text-header">Dynamic</h4>
        <p class = "text-content">Websites don't have to be static, I love making pages come to life.</p>
      </div>
    </div>
  </div>

  <div class = "container">
    <div class = "row mt-5 text-center">
      <div class = "col-sm-12 col-md-6">
        <h4 class = "text-header">Who's this guy?</h4>
        <p class = "text-content">
          Im a Front End Developer from Lagos Nigeria
        </p>
        <p class = "text-content">
          I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
          Let's make something special.
        </p>

      <div class = "col-sm-12 col-md-6">

      </div>
    </div>
  </div>

</div>
