
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col  d-flex justify-content-center p-5">
        <h1 class="headers">
          ABOUT
          <!-- <div class="header-bar"></div> -->
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6 col-md-3">
          <img
            class="icons"
            src="../../assets/fast-png-1.png/"
            alt="fast-icon"
          />
          <h4 class="text-header">Fast</h4>
          <p class="text-content">
            Fast load times and lag free interaction, my highest priority.
          </p>
        </div>
        <div class="col-sm-6 col-md-3">
          <img
            class="icons"
            src="../../assets/responsive (2).png"
            alt="responsive-icon"
          />
          <h4 class="text-header">Responsive</h4>
          <p class="text-content">
            My layout will work on any device, big or small
          </p>
        </div>
        <div class="col-sm-6 col-md-3">
          <img
            class="icons"
            src="../../assets/Intuitive.png"
            alt="intuitive-icon"
          />
          <h4 class="text-header">Intuitive</h4>
          <p class="text-content">
            Strong preference for easy to use, intuitive UI/UX
          </p>
        </div>
        <div class="col-sm-6 col-md-3">
          <img
            class="icons"
            src="../../assets/dynamic-icon-23.png"
            alt="dynamic-icon"
          />
          <h4 class="text-header">Dynamic</h4>
          <p class="text-content">
            Websites don't have to be static, I love making pages come to life.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-5 text-center">
        <div class="col-sm-12 col-md-6">
          <div class="img-responsive img-fluid">
            <img src="../../assets/ede.PNG" />
          </div>
          <h4 class="text-header">Who's this guy?</h4>
          <p class="text-content">
            Im a Front End Developer from Lagos Nigeria
          </p>
          <p class="text-content">
            I have serious passion for UI effects, animations and creating
            intuitive, dynamic user experiences. Let's make something special.
          </p>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="text-header mb-5">
            <h2 class="headers mb-4">TOOLS</h2>
            <div class="progress pl-2 mb-5">
              HTML
              <span
                class="progress-bar"
                role="progressbar"
                style="width: 90%;"
                aria-valuenow="90"
                aria-valuemin="0"
                aria-valuemax="100"
                >90%</span
              >
            </div>
          </div>
          <div class="progress pl-2 mb-5">
            CSS
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 80%;"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              80%
            </div>
          </div>
          <div class="progress pl-2 mb-5">
            JAVASCRIPT
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 70%;"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              78%
            </div>
          </div>
          <div class="progress pl-2 mb-5">
            REACT
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 50%;"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              50%
            </div>
          </div>
          <div class="progress progress-stripped pl-2 mb-5">
            ANGULAR
            <div
              class="progress-bar progress-stripped"
              role="progressbar"
              style="width: 70%;"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              70%
            </div>
          </div>
          <div class="progress pl-2 mb-5">
            IONIC/FIREBASE
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 50%;"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              58%
            </div>
          </div>
          <div class="progress pl-2 mb-5">
            NODE.JS
            <div
              class="progress-bar"
              role="progressbar"
              style="width: 60%;"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              60%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="projects">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center p-3">
        <h1 class="headers">
          PROJECTS
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-header d-flex justify-content-center mb-5">
        <ul>
          <li *ngFor="let tool of tools" (click)="setTools(tool)">
            <a [class.active]="tool===activeTool">{{tool}}</a>
          </li>
        </ul>

      </div>
    </div>
    <div class="row" *ngIf="showAllPage">
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/Antcorp 3.PNG"
          alt="antcorp project"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/diamond.PNG"
          alt="antcorp project"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/YelpCamp.PNG"
          alt="antcorp project"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/Blog App.PNG"
          alt="antcorp project"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/YelpCamp2.PNG"
          alt="antcorp project"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/Antcorp admin 3.PNG"
          alt="antcorp project"
        />
      </div>

      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/react.PNG"
          alt="antcorp project"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/newnew.PNG"
          alt="antcorp project"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/antcorp dash login.PNG"
          alt="antcorp project"
        />
      </div>
    </div>

    <div class="row" *ngIf="showPageJavascript">
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
        class="img-thumbnail"
        src="../../assets/YelpCamp.PNG"
        alt="antcorp project"
      />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/Blog App.PNG"
          alt="antcorp project"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/newnew.PNG"
          alt="antcorp project"
        />
      </div>
    </div>

    <div class="row" *ngIf="showPageAngular">
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
        class="img-thumbnail"
        src="../../assets/antcorp dash login.PNG"
        alt="antcorp project"
      />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
        class="img-thumbnail"
        src="../../assets/Avian.PNG"
        alt="antcorp project"
      />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
        class="img-thumbnail"
        src="../../assets/diamond.PNG"
        alt="antcorp project"
      />
      </div>
    </div>

    <div class="row" *ngIf="showPageNode">
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/Blog App.PNG"
          alt="antcorp project"
        />
      </div>
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img
          class="img-thumbnail"
          src="../../assets/YelpCamp.PNG"
          alt="antcorp project"
        />
      </div>

    </div>

    <div class = "row" *ngIf="showPageReact">
      <div class="col-12 col-sm-6 col-md-4 m-0 p-0">
        <img class = "img-thumbnail" src = "../../assets/react.PNG" alt = "antcorp project">
      </div>
    </div>
  </div>
</section>

<section id="blog">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center p-3">
        <h1 class="headers">
          BLOGS
     
        </h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <img
            class="img-thumbnail"
            src="../../assets/Capture.PNG"
            alt="Card image cap"
          />
          <label class="font-weight-bold mt-4"
            >Breaking Your Coder's Block</label
          >
          <small class="mt-2"> April 29,2018</small>
          <p class="mt-2">
            At one time or another, as a developer, we’ve all found ourselves
          </p>
        </div>

        <div class="col-sm-6 col-md-3">
          <img
            class="img-thumbnail"
            src="../../assets/Capture.PNG"
            alt="Card image cap"
          />
          <label class="font-weight-bold mt-4"
            >Breaking Your Coder's Block</label
          >
          <small class="mt-2"> April 29,2018</small>
          <p class="mt-2">
            At one time or another, as a developer, we’ve all found ourselves
          </p>
        </div>

        <div class="col-sm-6 col-md-3">
          <img
            class="img-thumbnail"
            src="../../assets/Capture.PNG"
            alt="Card image cap"
          />
          <label class="font-weight-bold mt-4"
            >Breaking Your Coder's Block</label
          >
          <small class="mt-2"> April 29,2018</small>
          <p class="mt-2">
            At one time or another, as a developer, we’ve all found ourselves
          </p>
        </div>

        <div class="col-sm-6 col-md-3">
          <img
            class="img-thumbnail"
            src="../../assets/Capture.PNG"
            alt="Card image cap"
          />
          <label class="font-weight-bold mt-4"
            >Breaking Your Coder's Block</label
          >
          <small class="mt-2"> April 29,2018</small>
          <p class="mt-2">
            At one time or another, as a developer, we’ve all found ourselves
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="cover" class="min-vh-100">
  <div id="cover-caption">
    <div class="container">
      <div class="row text-white">
        <div
          class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4"
        >
          <h1 class="py-4 text-truncate contact">CONTACT</h1>
          <p class = "py-2 text-info font-weight-bold">Have a question or want to work with me?</p>
          <div class="px-2">
            <form action="" class="justify-content-center ">
              <div class="form-group mb-1">
                <label class="sr-only">Name</label>
                <input
                  type="text"
                  class="form-control rounded-0 "
                  placeholder="Jane Doe"
                />
              </div>
              <div class="form-group mb-1">
                <label class="sr-only">Email</label>
                <input
                  type="text"
                  class="form-control rounded-0"
                  placeholder="jane.doe@example.com"
                />
              </div>
              <div class = "form-group mb-1">
                <label class="sr-only">Message</label>
              <textarea
                class="form-control rounded-0"
                id="exampleFormControlTextarea1"
                rows="4"
              ></textarea>
            </div>
            <div class = "d-flex justify-content-end">
              <button type="submit" class=" btn btn-outline-dark btn-lg rounded-0">
                SUBMIT
              </button>
            </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id = "footer">
  <div class = "container">
    <div class = "row">
      <div class="col-12 d-flex justify-content-center">
        <a href="https://www.github.com/dav4thevid">
          <div class="flex icon" id="icon-2">
            <i class="fa fa-github fa-lg pt-3"></i>
          </div>
        </a>
        <a href="https://www.facebook.com/davoucii" target="_blank">
          <div class="flex icon " id="icon-3">
            <i class="fa fa-facebook-f fa-lg pt-3"></i>
          </div>
        </a>
        <a href="https://twitter.com/dav4thevid">
          <div class="flex icon" id="icon-4">
            <i class="fa fa-twitter fa-lg pt-3"></i>
          </div>
        </a>
        <a href="http://codepen.io/matthewwilliams/">
          <div class="flex icon" id="icon-5">
            <i class="fa fa-linkedin fa-lg pt-3"></i>
          </div>
        </a>
      </div>
    </div>
    <div class = "row mt-5">
      <div class = "col-12 d-flex justify-content-center">
        <p class = "footnote">Dave Davoucii <span id = "highlight">© 2020</span></p>
      </div>
    </div>
  </div>
</section>
