.icons {
  width:75px;
  height:75px;
}

.progress{
  border-radius: 0em;
}

.header-bar {
  background: #444649;
  height: 4px;
  margin: 25px 25px 75px 25px;
  width: 70px;
}

.header-bar2 {
  background: #444649;
  height: 4px;
  margin: 25px 25px 75px 50px;
  width: 70px;
}


.text-header {
  color: #444649;
}

.projects{
  margin: 0rem;
  background-color:#f5f5f5
}

.images {
  margin: 0px;
  padding: 0px;
}

#blog {
  background: #ffffff;
  color: black;
  padding-top: 75px;
}

#contact {
  background: #252934;
  color: #fff;
  padding-top: 175px;
}
