.icons {
  width:75px;
  height:75px;
}

.progress{
  border-radius: 0em;
}

.header-bar {
  background: #444649;
  height: 4px;
  margin: 25px 25px 75px 25px;
  width: 70px;
}

.text-header {
  color: #444649;
}
