<section id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex justify-content-center p-5" animateOnScroll animationName="animate__bounceIn">
        <h1 class="headers mb-4 animate__animated">
          ABOUT
          <!-- <div class="header-bar"></div> -->
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6 col-md-3 animate__animated" animateOnScroll animationName="animate__fadeInRightBig">
          <img
            class="icons"
            src="../../assets/fast-png-1.png/"
            alt="fast-icon"
          />
          <h4 class="text-header">Fast</h4>
          <p class="text-content">
            Fast load times and lag free interaction, my highest priority.
          </p>
        </div>
        <div class="col-sm-6 col-md-3 animate__animated" animateOnScroll animationName="animate__fadeInLeftBig">
          <img
            class="icons "
            src="../../assets/responsive (2).png"
            alt="responsive-icon"
          />
          <h4 class="text-header">Responsive</h4>
          <p class="text-content">
            My layout will work on any device, big or small
          </p>
        </div>
        <div class="col-sm-6 col-md-3 animate__animated" animateOnScroll animationName="animate__fadeInRightBig">
          <img
            class="icons"
            src="../../assets/Intuitive.png"
            alt="intuitive-icon"
          />
          <h4 class="text-header">Intuitive</h4>
          <p class="text-content">
            Strong preference for easy to use, intuitive UI/UX
          </p>
        </div>
        <div class="col-sm-6 col-md-3 animate__animated" animateOnScroll animationName="animate__fadeInLeftBig">
          <img
            class="icons"
            src="../../assets/dynamic-icon-23.png"
            alt="dynamic-icon"
          />
          <h4 class="text-header">Dynamic</h4>
          <p class="text-content">
            Websites don't have to be static, I love making pages come to life.
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-5 text-center">
        <div class="col-sm-12 col-md-6 animate__animated" animateOnScroll animationName="animate__fadeInLeftBig">
          <div>
            <img class="image img-thumbnail" src="../../assets/upload22.png" />
            <div>
              <h5 class="text-content highlight2">Who's this guy?</h5>
              <p class="text-content">
                A <span class="highlight2">Web | Mobile</span> Developer from
                Lagos, Nigeria.<br />
                I have serious passion for
                <span class="highlight2"
                  >UI effects, animations and<br />
                  creating intuitive, dynamic user experiences.</span
                ><br />
                Let's make something special.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 tools animate__animated" animateOnScroll animationName="animate__fadeInRightBig">
          <div class="text-header">
            <h2 class="headers mb-5">TOOLS</h2>
            <div class="row">
              <div class="col-6 col-sm-6 col-md-4">
                <img class = "tools-img" src="../../assets/flutter.png" width="130" height="auto" />
              </div>
              <div class="col-6 col-sm-6 col-md-4">
                <img class = "tools-img" src="../../assets/angular.png" width="130" height="auto" />
              </div>

              <div class="col-6 col-sm-6 col-md-4">
                <img
                  class = "tools-img"
                  src="../../assets/reactlogo.png"
                  width="130"
                  height="auto"
                />
              </div>
              <div class="col-6 col-sm-6 col-md-4">
                <img class = "tools-img" src="../../assets/git.png" width="130" height="auto" />
              </div>

              <div class="col-6 col-sm-6 col-md-4">
                <img class = "tools-img" src="../../assets/github.png" width="130" height="auto" />
              </div>
              <div class="col-6 col-sm-6 col-md-4">
                <img class = "tools-img" src="../../assets/dart.png" width="130" height="auto" />
              </div>

              <div class="col-6 col-sm-6 col-md-4">
                <img class = "tools-img-ts" src="../../assets/JS.png" width="100" height="auto" />
              </div>

              <div class="col-6 col-sm-6 col-md-4">
                <img
                  class = "tools-img-ts"
                  src="../../assets/firebase.png"
                  width="130"
                  height="auto"
                />
              </div>

              <div class="col-xs-6 col-sm-6 col-md-4">
                <img
                  src="../../assets/TypeScript.jpg"
                  width="110"
                  height="auto"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

