<section id = "contact-me" class="min-vh-100 cover">
  <div id="cover-caption">
    <div class="container">
      <div class="row text-white">
        <div
          class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center p-4"
        >
          <h1 class="py-4 text-truncate contact animate__animated" animateOnScroll animationName="animate__bounceIn">CONTACT</h1>
          <p class="py-2 text-info font-weight-bold animate__animated" animateOnScroll animationName="animate__bounceIn">
            Have a question or want to work with me?
          </p>
          <div class="px-2">
            <form action="https://formspree.io/xrgyaqwe"  method="POST" class="justify-content-center animate__animated" animateOnScroll animationName="animate__bounceInUp">
              <div class="form-group mb-1">
                <label class="sr-only">Name</label>
                <input
                  type="text"
                  class="form-control rounded-0"
                  placeholder="Jane Doe"
                  name = "name"
                  required
                />
              </div>
              <div class="form-group mb-1">
                <label class="sr-only">Email</label>
                <input
                  type="text"
                  class="form-control rounded-0"
                  placeholder="jane.doe@example.com"
                  name = "email"
                  required
                />
              </div>
              <div class="form-group mb-1">
                <label class="sr-only">Message</label>
                <textarea
                  class="form-control rounded-0"
                  id="exampleFormControlTextarea1"
                  rows="4"
                  name = "message"
                  required
                ></textarea>
              </div>
              <div class="d-flex justify-content-end">
                <button
                  type="submit"
                  class="btn btn-outline-dark btn-lg rounded-0"
                >
                  SUBMIT
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
