@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600;700&display=swap');



.container-fluid {
  /* Location of the image */
  background-image: url(../../assets/download.png);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  // background-color: #464646;

}

// .container-fluid
// {
//   // background-color:rgba(19, 18, 18, 0.534);
//   // background-image: url();
// }

.homepage-text{
  color:white;
  margin-top:18%;
  margin-bottom:18%;
  font-size: 30pt;
  // font-family: "Raleway-semibold";
  font-family: 'Raleway', sans-serif;
  // font-family:Arial, Helvetica, sans-serif;
  z-index: 1;
  line-height: 30pt;
}


.highlight {
  color: #e31b6d;
}


button {
   margin-left:auto;
   margin-right:auto;
 }
