<section>
  <div class="container-fluid">
    <div class = "row">
      <div class = "col-12 col-sm-12 col-md-12 homepage-text">
        <p class = "d-flex justify-content-center" >Hello. I'm <span class = "ml-2 highlight "> Dave Davoucii </span></p>
        <p class = "d-flex justify-content-center">I'm a <span class = "ml-2 mr-2 highlight">Mobile | Web</span> Developer
        </p>
        <div class = "d-flex justify-content-center">
          <button type="button" class="btn btn-lg btn-outline-light">View My Projects</button>
          <!-- <fav-icon [icon]="faArrowRight"></fav-icon> -->
        </div>
      </div>
    </div>
  </div>
</section>

