<section>
  <div class="container-fluid">
    <div class = "row">
      <div class = "col-12 homepage-text ">
        <p class = "d-flex justify-content-center" >Hello. I'm <span class = "ml-2 highlight "> Dave Davoucii </span></p>
        <p class = "d-flex justify-content-center">I'm a Front End Developer</p>
        <div class = "d-flex justify-content-center">
          <!-- <button class = "btn btn-primary">View My Projects</button> -->
          <button type="button" class="btn btn-outline-light">View My Projects
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

